<mat-sidenav-container class="main-container">
  <mat-sidenav #drawer [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" class="sidebar-container">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar app-toolbar">
      <button mat-icon-button (click)="drawer.toggle()" *ngIf="isMobile">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <section class="layout__content">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>