-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: sigsa_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB-1:10.4.32+maria~ubu2004

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `area_supervisores`
--

DROP TABLE IF EXISTS `area_supervisores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `area_supervisores` (
  `area_id` int(11) NOT NULL,
  `empleado_id` int(11) NOT NULL,
  `es_titular` tinyint(1) NOT NULL DEFAULT 0,
  `desde` date DEFAULT NULL,
  `hasta` date DEFAULT NULL,
  `creado_por` int(11) DEFAULT NULL,
  `creado_en` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`area_id`,`empleado_id`),
  KEY `fk_as_emp` (`empleado_id`),
  KEY `fk_as_usr` (`creado_por`),
  CONSTRAINT `fk_as_area` FOREIGN KEY (`area_id`) REFERENCES `areas` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_as_emp` FOREIGN KEY (`empleado_id`) REFERENCES `empleados` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_as_usr` FOREIGN KEY (`creado_por`) REFERENCES `usuarios_sistema` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `area_supervisores`
--

LOCK TABLES `area_supervisores` WRITE;
/*!40000 ALTER TABLE `area_supervisores` DISABLE KEYS */;
INSERT INTO `area_supervisores` VALUES (1,84,1,NULL,NULL,NULL,'2025-11-12 03:15:40'),(2,646,1,NULL,NULL,NULL,'2025-11-12 03:25:55'),(3,383,1,NULL,NULL,NULL,'2025-11-12 03:54:14'),(4,646,1,NULL,NULL,NULL,'2025-11-12 04:16:13'),(5,482,1,NULL,NULL,NULL,'2025-11-12 05:24:16'),(6,133,1,NULL,NULL,NULL,'2025-11-12 05:46:52'),(7,858,1,NULL,NULL,NULL,'2025-11-12 06:42:25');
/*!40000 ALTER TABLE `area_supervisores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `areas`
--

DROP TABLE IF EXISTS `areas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `areas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_area` varchar(50) NOT NULL,
  `descripcion` varchar(500) DEFAULT NULL,
  `creado_en` timestamp NOT NULL DEFAULT current_timestamp(),
  `actualizado_en` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `eliminado_en` timestamp NULL DEFAULT NULL,
  `creado_por` int(11) DEFAULT NULL,
  `actualizado_por` int(11) DEFAULT NULL,
  `eliminado_por` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre_area` (`nombre_area`),
  KEY `fk_area_creado_por` (`creado_por`),
  KEY `fk_area_actualizado_por` (`actualizado_por`),
  KEY `fk_area_eliminado_por` (`eliminado_por`),
  KEY `idx_area_nombre` (`nombre_area`),
  CONSTRAINT `fk_area_actualizado_por` FOREIGN KEY (`actualizado_por`) REFERENCES `usuarios_sistema` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_area_creado_por` FOREIGN KEY (`creado_por`) REFERENCES `usuarios_sistema` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_area_eliminado_por` FOREIGN KEY (`eliminado_por`) REFERENCES `usuarios_sistema` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `areas`
--

LOCK TABLES `areas` WRITE;
/*!40000 ALTER TABLE `areas` DISABLE KEYS */;
/*!40000 ALTER TABLE `areas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asignacion_turnos`
--

DROP TABLE IF EXISTS `asignacion_turnos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `asignacion_turnos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `empleado_id` int(11) NOT NULL,
  `turno_id` int(11) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `creado_en` timestamp NOT NULL DEFAULT current_timestamp(),
  `actualizado_en` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  `lote_id` int(11) DEFAULT NULL,
  `creado_por` int(11) DEFAULT NULL,
  `eliminado_en` timestamp NULL DEFAULT NULL,
  `eliminado_por` int(11) DEFAULT NULL,
  `es_reemplazo` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_asig_empleado_rango` (`empleado_id`,`turno_id`,`fecha_inicio`,`fecha_fin`),
  KEY `fk_asig_lote` (`lote_id`),
  KEY `fk_asig_creado` (`creado_por`),
  KEY `fk_asig_elim` (`eliminado_por`),
  KEY `idx_asig_empleado_fecha` (`empleado_id`,`fecha_inicio`,`fecha_fin`),
  KEY `idx_asig_turno_fecha` (`turno_id`,`fecha_inicio`,`fecha_fin`),
  KEY `idx_asig_rango` (`fecha_inicio`,`fecha_fin`),
  CONSTRAINT `fk_asig_creado` FOREIGN KEY (`creado_por`) REFERENCES `usuarios_sistema` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_asig_elim` FOREIGN KEY (`eliminado_por`) REFERENCES `usuarios_sistema` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_asig_emp` FOREIGN KEY (`empleado_id`) REFERENCES `empleados` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_asig_lote` FOREIGN KEY (`lote_id`) REFERENCES `asignaciones_lote` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_asig_turno` FOREIGN KEY (`turno_id`) REFERENCES `turnos` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asignacion_turnos`
--

LOCK TABLES `asignacion_turnos` WRITE;
/*!40000 ALTER TABLE `asignacion_turnos` DISABLE KEYS */;
/*!40000 ALTER TABLE `asignacion_turnos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asignaciones_lote`
--

DROP TABLE IF EXISTS `asignaciones_lote`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `asignaciones_lote` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `area_id` int(11) NOT NULL,
  `jefe_id` int(11) NOT NULL,
  `turno_id` int(11) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date DEFAULT NULL,
  `patron` enum('NORMAL','24x72') NOT NULL DEFAULT 'NORMAL',
  `dias_descanso` set('0','1','2','3','4','5','6') DEFAULT NULL,
  `creado_por` int(11) DEFAULT NULL,
  `creado_en` timestamp NOT NULL DEFAULT current_timestamp(),
  `eliminado_en` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_lote_jefe` (`jefe_id`),
  KEY `fk_lote_turno` (`turno_id`),
  KEY `fk_lote_user` (`creado_por`),
  KEY `idx_lote_area_fecha` (`area_id`,`fecha_inicio`,`fecha_fin`),
  CONSTRAINT `fk_lote_area` FOREIGN KEY (`area_id`) REFERENCES `areas` (`id`),
  CONSTRAINT `fk_lote_jefe` FOREIGN KEY (`jefe_id`) REFERENCES `empleados` (`id`),
  CONSTRAINT `fk_lote_turno` FOREIGN KEY (`turno_id`) REFERENCES `turnos` (`id`),
  CONSTRAINT `fk_lote_user` FOREIGN KEY (`creado_por`) REFERENCES `usuarios_sistema` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asignaciones_lote`
--

LOCK TABLES `asignaciones_lote` WRITE;
/*!40000 ALTER TABLE `asignaciones_lote` DISABLE KEYS */;
/*!40000 ALTER TABLE `asignaciones_lote` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asistencias`
--

DROP TABLE IF EXISTS `asistencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `asistencias` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `empleado_id` int(11) NOT NULL,
  `fecha` date NOT NULL,
  `turno_id` int(11) NOT NULL,
  `entrada_real` datetime DEFAULT NULL,
  `salida_real` datetime DEFAULT NULL,
  `estado` enum('COMPLETO','INCOMPLETO','FALTA','TARDE','TEMPRANO') NOT NULL,
  `minutos_retraso` int(11) DEFAULT 0,
  `minutos_extra` int(11) DEFAULT 0,
  `generado_en` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_asistencia_emp_fecha` (`empleado_id`,`fecha`),
  KEY `fk_asistencia_turno` (`turno_id`),
  KEY `idx_asistencia_estado` (`estado`,`fecha`),
  CONSTRAINT `fk_asistencia_emp` FOREIGN KEY (`empleado_id`) REFERENCES `empleados` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_asistencia_turno` FOREIGN KEY (`turno_id`) REFERENCES `turnos` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asistencias`
--

LOCK TABLES `asistencias` WRITE;
/*!40000 ALTER TABLE `asistencias` DISABLE KEYS */;
/*!40000 ALTER TABLE `asistencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_log`
--

DROP TABLE IF EXISTS `audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `evento` enum('CREATE','UPDATE','DELETE','ASSIGN','UNASSIGN','LOGIN','EMAIL') NOT NULL,
  `entidad` varchar(50) NOT NULL,
  `entidad_id` bigint(20) DEFAULT NULL,
  `antes` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`antes`)),
  `despues` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`despues`)),
  `actor_id` int(11) DEFAULT NULL,
  `actor_username` varchar(80) DEFAULT NULL,
  `ip` varchar(45) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `request_id` char(36) DEFAULT NULL,
  `creado_en` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_audit_entidad` (`entidad`,`entidad_id`,`creado_en`),
  KEY `idx_audit_actor` (`actor_id`,`creado_en`),
  CONSTRAINT `fk_audit_actor` FOREIGN KEY (`actor_id`) REFERENCES `usuarios_sistema` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_log`
--

LOCK TABLES `audit_log` WRITE;
/*!40000 ALTER TABLE `audit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuraciones_turnos`
--

DROP TABLE IF EXISTS `configuraciones_turnos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `configuraciones_turnos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tipo` enum('ROTATIVO','FIJO') NOT NULL,
  `nombre_configuracion` varchar(255) NOT NULL,
  `area_id` int(11) NOT NULL,
  `jefe_id` int(11) NOT NULL,
  `turno_id` int(11) DEFAULT NULL,
  `empleados_ids` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`empleados_ids`)),
  `configuracion` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`configuracion`)),
  `fecha_inicio` date DEFAULT NULL,
  `fecha_fin` date DEFAULT NULL,
  `dias_descanso` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`dias_descanso`)),
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `creado_por` int(11) DEFAULT NULL,
  `creado_en` timestamp NOT NULL DEFAULT current_timestamp(),
  `actualizado_en` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `eliminado_en` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_config_jefe` (`jefe_id`),
  KEY `fk_config_turno` (`turno_id`),
  KEY `fk_config_creado_por` (`creado_por`),
  KEY `idx_config_tipo` (`tipo`),
  KEY `idx_config_area` (`area_id`),
  KEY `idx_config_activo` (`activo`),
  CONSTRAINT `fk_config_area` FOREIGN KEY (`area_id`) REFERENCES `areas` (`id`),
  CONSTRAINT `fk_config_creado_por` FOREIGN KEY (`creado_por`) REFERENCES `usuarios_sistema` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_config_jefe` FOREIGN KEY (`jefe_id`) REFERENCES `empleados` (`id`),
  CONSTRAINT `fk_config_turno` FOREIGN KEY (`turno_id`) REFERENCES `turnos` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuraciones_turnos`
--

LOCK TABLES `configuraciones_turnos` WRITE;
/*!40000 ALTER TABLE `configuraciones_turnos` DISABLE KEYS */;
/*!40000 ALTER TABLE `configuraciones_turnos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empleados`
--

DROP TABLE IF EXISTS `empleados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empleados` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `numero_empleado` varchar(32) NOT NULL,
  `renglon` varchar(100) DEFAULT NULL,
  `nombre_completo` varchar(150) NOT NULL,
  `dpi` varchar(13) DEFAULT NULL COMMENT 'DPI Guatemala, 13 d├¡gitos',
  `email` varchar(120) DEFAULT NULL,
  `rol_id` int(11) DEFAULT NULL,
  `area_id` int(11) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `datos_actualizados` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Indica si el empleado actualiz├│ sus datos este ciclo',
  `creado_en` timestamp NOT NULL DEFAULT current_timestamp(),
  `actualizado_en` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `creado_por` int(11) DEFAULT NULL,
  `actualizado_por` int(11) DEFAULT NULL,
  `eliminado_en` timestamp NULL DEFAULT NULL,
  `eliminado_por` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero_empleado` (`numero_empleado`),
  UNIQUE KEY `uk_dpi` (`dpi`),
  KEY `fk_emp_rol` (`rol_id`),
  KEY `fk_emp_area` (`area_id`),
  KEY `fk_emp_creado_por` (`creado_por`),
  KEY `fk_emp_actualizado_por` (`actualizado_por`),
  KEY `fk_emp_eliminado_por` (`eliminado_por`),
  KEY `idx_emp_nombre` (`nombre_completo`),
  KEY `idx_emp_activo` (`activo`),
  CONSTRAINT `fk_emp_actualizado_por` FOREIGN KEY (`actualizado_por`) REFERENCES `usuarios_sistema` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_emp_area` FOREIGN KEY (`area_id`) REFERENCES `areas` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_emp_creado_por` FOREIGN KEY (`creado_por`) REFERENCES `usuarios_sistema` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_emp_eliminado_por` FOREIGN KEY (`eliminado_por`) REFERENCES `usuarios_sistema` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_emp_rol` FOREIGN KEY (`rol_id`) REFERENCES `roles_empleado` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empleados`
--

LOCK TABLES `empleados` WRITE;
/*!40000 ALTER TABLE `empleados` DISABLE KEYS */;
/*!40000 ALTER TABLE `empleados` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-09 15:23:23
