<div class="sidebar">
  <!-- Encabezado -->
  <div class="sidebar-header">
    <div class="logo">HRO</div>
    <div class="logo-text">
      <h2>Hospital R. Occidente</h2>
      <p>Panel de Administración</p>
    </div>
  </div>

  <!-- Menú principal -->
  <nav class="sidebar-nav">
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <i class="fas fa-home"></i><span>Dashboard</span>
        </a>
      </li>

      <li>
        <a routerLink="/empleados" routerLinkActive="active">
          <i class="fas fa-users"></i><span>Empleados</span>
        </a>
      </li>
      <li>
        <a routerLink="/asignar-turnos" routerLinkActive="active">
          <i class="fas fa-clock"></i><span>Asignar Turnos</span>
        </a>
      </li>
      <li>
        <a routerLink="/permisos" routerLinkActive="active">
          <i class="fas fa-file-signature"></i><span>Permisos</span>
        </a>
      </li>
      <li>
        <a routerLink="/turnos" routerLinkActive="active">
          <i class="fas fa-calendar-plus"></i><span>Gestión de Turnos</span>
        </a>
      </li>

      <li>
        <a routerLink="/reportes" routerLinkActive="active">
          <i class="fas fa-file-alt"></i><span>Reportes</span>
        </a>
      </li>
      <li class="menu-title">
        <span>Catálogos</span>
      </li>

      <li>
        <a routerLink="/departamentos" routerLinkActive="active">
          <i class="fas fa-building"></i><span>Departamentos</span>
        </a>
      </li>

      <li>
        <a routerLink="/puestos" routerLinkActive="active">
          <i class="fas fa-briefcase"></i><span>Puestos</span>
        </a>
      </li>


    </ul>
  </nav>

  <!-- Botón de cierre -->
  <div class="sidebar-bottom">
    <button type="button" (click)="logout()" class="logout-btn">
      <i class="fas fa-right-from-bracket"></i>
      <span>Cerrar sesión</span>
    </button>
  </div>
</div>